<!-- Team Section -->
<section id="team" class="team section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Explore</h2>
    <p>Discover random, never-before-seen images </p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="text-center mb-5" data-aos="zoom-out" data-aos-delay="100">
      <!-- <button (click)="onReloadImages()" class="btn btn-get-started">Load New Images</button> -->
    </div>
    <!-- src/app/explore/explore.component.html -->
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor="let image of images" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <div class="member-img">
            <img [src]="image" class="img-fluid" alt="">
            <div class="social">
              <a download="random-image.jpg" [attr.href]="image"><i class="bi bi-download"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Image</h4>
            <span>Image</span>
          </div>
        </div>
      </div>
    </div>


  </div>

</section><!-- /Team Section -->
