<!-- Team Section -->
<section id="team" class="team section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Explore</h2>
    <p>Discover random, never-before-seen images </p>
  </div><!-- End Section Title -->

  <div *ngIf="loading" class="loading-message" class="">
    <div class="d-flex justify-content-center">
      <div class="loader"></div>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="container">
      <div class="text-center mb-5" data-aos="zoom-out" data-aos-delay="100">
        <button (click)="loadImages()" class="btn btn-get-started">Load New Images</button>
        <div class="row options mt-3">
			<!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption">
				<label id="example-radio-group-label">Pick your favorite option</label><br>
				<mat-radio-button value="1" class="mr-3">Option 1</mat-radio-button>
				<mat-radio-button value="2">Option 2</mat-radio-button>
			</mat-radio-group> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor="let image of images" data-aos="fade-up"
          data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">
              <img [src]="image.download_url" class="img-fluid" alt="">
              <div class="social">
                <a [attr.href]="image.download_url" target="_blank"><i class="bi bi-download"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>{{image.author}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section><!-- /Team Section -->
