<!-- Team Section -->
<section id="team" class="team section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Explore</h2>
    <p>Discover random, never-before-seen images </p>
  </div><!-- End Section Title -->

  <div *ngIf="loading" class="loading-message" class="">
    <div class="d-flex justify-content-center">
      <div class="loader"></div>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="container">
      <div class="text-center mb-5" data-aos="zoom-out" data-aos-delay="100">
        <button (click)="loadImages()" class="btn btn-get-started">Load New Images</button>
        <div class="row options mt-3">
          <section class="example-section d-flex justify-content-center align-items-center">
            <mat-checkbox class="example-margin mx-2" [checked]="isGrayScale" (change)="update($event.checked)">Black & White</mat-checkbox>
            <form class="example-form">
              <mat-form-field class="example-full-width mx-2">
                <mat-label>Width in pixel</mat-label>
                <input type="number" matInput placeholder="600" [(ngModel)]="defaultWidth" name="defaultWidth">
              </mat-form-field>

              <mat-form-field class="example-full-width mx-2">
                <mat-label>Height in pixel</mat-label>
                <input type="number" matInput placeholder="400" [(ngModel)]="defaultHeight" name="defaultHeight">
              </mat-form-field>
            </form>
            <div class="d-flex flex-column align-items-center">
              <mat-label>Blur level</mat-label>
              <mat-slider [(ngModel)]="blurLevel" showTickMarks min="0" max="10" step="0.1" discrete thumbLabel ngDefaultControl >
                <input matSliderThumb value="{{ blurLevel }}">
              </mat-slider>
            </div>
            <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedFormat">
              <mat-button-toggle value=".jpg">JPG</mat-button-toggle>
              <mat-button-toggle value=".webp">WEBP</mat-button-toggle>
            </mat-button-toggle-group> -->
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor="let image of images" data-aos="fade-up"
          data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">
              <img [src]="image.download_url" class="img-fluid" alt="">
              <div class="social">
                <a [attr.href]="image.download_url" target="_blank"><i class="bi bi-download"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>{{image.author}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section><!-- /Team Section -->
